<!DOCTYPE html>
<html>
  <head>
    <title> Todo Sample App - READ(List) -</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  <body>
    <h1>Change Todos.</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Edit link</th>
        <th>Delete button</th>
      </tr>
      <% rows.forEach(function(row) { %>
      <tr>
        <td><a href="/todos/<%= row.id %>"><%= row.id %></a></td>
        <td><%= row.title %></td>
        <td><a href="/todos/edit/<%= row.id %>">Edit</a></td>
        <td><a href="javascript:void(0);" onclick="confirmDeleteAndExec(<%= row.id %>">Delete?</a></td>
      </tr>
      <% }) %>
    </table>
    <a href="todos/create">Add new todo</a>
    <script>
      function confirmDeleteAndExec(id) {
        if (confirm('Delete todo ok?')) {
          $.ajax({
            url: '/todos/' + id,
            type: 'DELETE'
          })
          .done(function() {
            location.reload();
          })
          .fail(function(error) {
            console.log(error);
            alert("Failed to delete todo.");
          });
        }
      }
    </script>
  </body>
</html>

